/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/
h1 {
  font-family: cursive, sans-serif;
  font-size: 40px;
}

body {
  background-color: #ffffe0;
} 


#shop-container {
  margin-bottom: 20px;
}

#shop-container > div {
  display: flex;
  align-items: center;
}

.shop-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.shop-image img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-bottom: 15px;
}

.shop-image p {
  margin: 0;
  font-size: 12px;
}

.shop-info {
  flex: 1;
  font-size: 15px;
  line-height: 1.2;
}

.shop-name {
  margin-bottom: 5px;
  font-size: 33px;
}

.center-align {
  margin: 0 auto;
  text-align: center;
}

form {
  display: inline-block;
  margin-right: 10px;
}

#search-button {
	text-align: center;
	margin: auto;
  width: 120px;
	font-weight: bold;
	border: 2px solid #c180ff;
	color: #c180ff;
	border-radius: 100vh;
}

.table {
  border: 2px solid #687370;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 6px;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
}

.table tbody th,
.table tbody td {
  padding: 12px;
  border-bottom: 1px solid #687370;
}

.table tbody th {
  background-color: #48b9a8;
  color: #fff;
}

.table tbody td {
  border-left: 1px solid #687370;
}

.table tbody tr:last-child th,
.table tbody tr:last-child td {
  border-bottom: none;
}

.show_shop-name {
  font-size: 48px;
}