<!DOCTYPE html>
<html>
  <head>
    <title>さがしてmeal</title>
  </head>
  <body>
    <header>
      <h1>さがしてmeal</h1>
    </header>
    
    <main>
      <%= yield %>
    </main>
    
    <footer>
      <a href="https://webservice.recruit.co.jp/"><img src="https://webservice.recruit.co.jp/banner/hotpepper-s.gif" alt="ホットペッパー Webサービス" width="135" height="17" title="ホットペッパー Webサービス"></a>
    </footer>
  </body>
</html>

