<!DOCTYPE html>
<html>
  <head>
    <title>さがしてmeal</title>
  </head>
  <body>
    <header>
      <font size="1">現在地周辺の飲食店を検索します♪</font>
      <h1 style="font-family: cursive, sans-serif;"><%= image_tag('hedder_logo.png', alt: '!', size: '30x30') %> さがしてmeal <%= image_tag('hedder_logo.png', alt: '!', size: '30x30') %></h1>
    </header>
    
    <main>
      <%= yield %>
    </main>
    
    <footer>
      <a href="https://webservice.recruit.co.jp/"><img src="https://webservice.recruit.co.jp/banner/hotpepper-s.gif" alt="ホットペッパー Webサービス" width="135" height="17" title="ホットペッパー Webサービス"></a>
      <font size="1">【画像提供：ホットペッパー グルメ】</font>
    </footer>
  </body>
</html>